<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/picocss/1.5.2/pico.min.css"
        integrity="sha512-3gFq2IXMVlAQaUyahzhjDRivv0yqyXTb7xiy6ivTaG5Uz4hKI54uYxpQefdomgDVQ11eJVUbXG0YdPMDISiGgg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>🐈 Gato-API 🐈</title>
</head>

<body>
    <div id="app">

        <label for="pets">Choose a pet:</label>
        <select v-model="pet" name="pets" id="pets">
            <option value="Cat">Cat</option>
            <option value="Dog">Dog</option>
        </select>

        <div class="container" id="cat-container" style="width:75%; margin: 1rem auto;text-align: center;">
            <img :src="imageUrl" alt="una mascota" v-if="imageUrl" style="max-width:100%; height:auto;">
            <button @click="fetchPetImage" style="margin-top: 1rem;">Nueva mascota</button>
        </div>
        <div class="container">
            <h2>Width: <span>{{ width }}</span></h2>
            <h2>Height: <span>{{ height }}</span></h2>
        </div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="module">
        const { createApp, ref, watch } = Vue;
        // Initialize Vue app
        const app = createApp({
            setup() {
                const pet = ref('Cat');
                const imageUrl = ref('');
                const width = ref(0);
                const height = ref(0);

                async function fetchPetImage() {
                    try {
                        const apiUrl = pet.value === 'Cat' ? 'https://api.thecatapi.com/v1/images/search' : 'https://api.thedogapi.com/v1/images/search';
                        const response = await fetch(apiUrl);
                        const data = await response.json();
                        imageUrl.value = data[0].url;
                        width.value = data[0].width;
                        height.value = data[0].height;
                    } catch (error) {
                        console.error("Error fetching pet image:", error);
                    }
                }
                function handleButton() {
                    console.log("Button clicked");
                    fetchPetImage();
                }
                watch(pet, () => {
                    fetchPetImage();
                });

                return { pet, imageUrl, width, height, fetchPetImage };
            }

        });
        app.mount('#app');


    </script>
</body>

</html>